* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin: 20px 0;
  color: #8d8c8c;
  font-size: 1.5em;
}
