@import './common/style/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: $wrapperColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
